<br> <br>
<button type="button" class="btn btn-primary btn-lg btn-block">
    Add Section
</button><br><br>
<mat-card>
    Section1
    <mat-card-subtitle>
        section1 details
    </mat-card-subtitle>
</mat-card>
<br>
<mat-card>Section2
    <mat-card-subtitle>
        section1 details
    </mat-card-subtitle>
</mat-card>
<br>
<mat-card>Section3
    <mat-card-subtitle>
        section1 details
    </mat-card-subtitle>
</mat-card>
<br>
<mat-card>Section4
    <mat-card-subtitle>
        section1 details
    </mat-card-subtitle>
</mat-card>
